<!DOCTYPE html>
<html>
<head>
    <include file="Public:head"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/js/select2/select2.min.css"/>
    <script src="__PUBLIC__/js/select2/select2.min.js"></script>
    <style type="text/css">
        .modal-backdrop{z-index: 0;}
        .table-eidt tr{height:60px;}
        .form-edit .input-group{margin-top:5px;}
        .form-edit .input-group:first-child{margin-top: 0;}
        .select2-container--default .select2-selection--single{
            border-radius: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form class="form-inline" id="form-search">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">菜单类别</div>
                <select name="search_menu_category_code" id="stl-menu-category" class="form-control">
                    <volist name="menuCategoryList" id="vo">
                        <option <if condition="!empty($search_menu_category_code) && $search_menu_category_code eq $vo['code']">selected='selected'</if> value="{$vo.code}">{$vo.name}</option>
                    </volist>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon">菜单</div>
                <select style="width:150px;" name="search_menu_code" id="slt-menu" class="form-control">
                </select>
            </div>
        </div>
        <button class="btn btn-default"><i class="fa fa-search"></i>&nbsp;搜索</button>
    </form>
</div>
<include file="Public:button"/>
<div class="container-fluid">
    <include file="Public:list_table"/>
</div>
<div class="container-fluid">
    {$page}
</div>
<div id="modal-container"></div>
</body>
</html>
<include file="Public:list"/>
<script>
    var menuCode = "{$search_menu_code}";


    $(function(){
        bindMenu();
    });

    $("#stl-menu-category").change(function(){
        bindMenu();
    });

    function bindMenu(){
        var catCode = $("#stl-menu-category").val();
        $.ajax({
            url:"__URL__/ajax_get_menu",
            data:{"category_code":catCode},
            dataType:"json",
            type:"get",
            success:function(data){
                if(data.code !=1){
                    alertMsg({"msg":data.msg, "type":0});
                }else{
                    var html = "";
                    for(var k in data.data){
                        var strSelected = "";
                        if(menuCode == data.data[k]['code']){
                            strSelected = "selected='selected'";
                        }
                        html += "<option "+strSelected+ " value='"+data.data[k]['code']+"'>"+data.data[k]['name']+"</option>";
                    }
                    $("#slt-menu").html(html);
                }
            }
        });
    }

    $("#btn-add").unbind('click');
    $("#btn-edit").unbind('click');

    $("#btn-add").click(function(){
        var menuCode = $("#slt-menu").val();
        var menuName = $("#slt-menu option:selected").text();
        if(menuCode == ''){
            alertMsg({"msg":"请选择菜单", "type":0});
            return ;
        }
        $.ajax({
            url:"__URL__/addView",
            type:"post",
            data:{'menu_code':menuCode,'menu_name':menuName},
            dataType:"json",
            success:function(data){
                if(data.code==1){
                    $("#modal-container").html(data.data);
                    $("#myModal").modal();
                }else{
                    alertMsg({"msg":data.msg, "type":0});
                }
            }
        });
    });

    $("#btn-edit").click(function(){
        var count = $(".chk-item:checked").length
        if(count<=0){
            alertMsg({"msg":"请选择需要修改的数据", "type":0});
            return;
        }
        if(count>1){
            alertMsg({"msg":"只能选择一行数据进行修改", "type":0});
            return;
        }
        var menuCode = $("#slt-menu").val();
        var menuName = $("#slt-menu option:selected").text();
        if(menuCode == ''){
            alertMsg({"msg":"请选择菜单", "type":0});
            return ;
        }
        var id = $(".chk-item:checked").val();
        $.ajax({
            url:"__URL__/editView",
            type:"post",
            dataType:"json",
            data:{"id":id,'menu_code':menuCode ,'menu_name':menuName},
            success:function(data){
                if(data.code==1){
                    $("#modal-container").html(data.data);
                    $("#myModal").modal();
                }else{
                    alertMsg({"msg":data.msg, "type":0});
                }
            }
        });
    });
</script>