<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>\
    <head>
        <script>
            //在框架中重新加载
            if (self != top) {
                window.top.location.href = '/Admin/Auth/Login';
            }
        </script>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    </head>
</head>
<body>
<include file="login-info"/>
</body>
</html>
<script src="__PUBLIC__/js/jquery-1.10.0.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>