<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖网-注册成功</title>
    <head>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/success.css"/>
    </head>
</head>
<body>
<include file="Public:nav"/>
    <div class="container" id="success-main">
        <span class="fa fa-check-circle-o"></span>
        <span id="success-msg">注册成功，马上可以使用抽奖网啦</span>
        <p>
            <span id="success-time">5</span>秒后跳转到，<a href="/Login">抽奖网注册</a>
        </p>
    </div>
<include file="Public:bottom"/>
</body>
</html>
<script src="__PUBLIC__/js/jquery-1.10.0.min.js"></script>
<script src="__PUBLIC__/js/success.js"></script>