<!DOCTYPE html>
<html>
    <head>
        <include file="Public:head"/>
        <title>菜单类别管理</title>
    </head>
    <body>
        <div class="container-fluid">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">所属应用</div>
                        <select name="search_app" class="form-control">
                            <option value="">请选择类别</option>
                            <volist name="appList" id="vo">
                                <option <if condition="$search_app eq $vo['code']">selected='selected'</if> value="{$vo.code}">{$vo.name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <button class="btn btn-default"><i class="fa fa-search"></i>&nbsp;搜索</button>
            </form>
        </div>
        <include file="Public:button"/>
        <div class="container-fluid">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th style="width:20px;">#</th>
                    <th style="width:20px;"><input type="checkbox" id="chk-all"/></th>
                    <th>所属应用</th>
                    <th>编号</th>
    
                    <th>名称</th>
                    <th>图标</th>
                    <th>排序顺序</th>
    
                    <th>状态</th>
                    <th>行权限</th>
                    <th>是否显示</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" key="j" id="vo">
                    <tr>
                        <td>{$j}</td>
                        <td><input type="checkbox" value="{$vo.id}" class="chk-item"/></td>
                        <td>{$vo.app_name}</td>
                        <td>{$vo.code}</td>
    
                        <td>{$vo.name}</td>
                        <td>{$vo.icon}</td>
                        <td>{$vo.sort}</td>
    
                        <td>{$vo.status}</td>
                        <td>{$vo.opt_user_name}</td>
                        <td>{$vo.opt_time}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            {$page}
        </div>
        <div id="modal-container"></div>
    </body>
</html>
<include file="Public:list"/>