<!--boostrap modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="myModal" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="z-index: 1050">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">公司管理</h4>
            </div>
            <div class="modal-body">
                <form class="form-edit" id="form-edit">
                    <div class="input-group">
                        <div class="input-group-addon">编号</div>
                        <input type="text" class="form-control param" name="code" desc="编号" mast="1" value="{$data.code}" placeholder="编号"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">名称</div>
                        <input type="text" class="form-control param" name="name" desc="名称" mast="1" value="{$data.name}" placeholder="名称"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">地址</div>
                        <input type="text" class="form-control param" name="address" desc="名称" mast="1" value="{$data.address}" placeholder="地址"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">固定电话</div>
                        <input type="text" class="form-control param" name="telephone" desc="固定电话" mast="1" value="{$data.telephone}" placeholder="固定电话"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">移动电话</div>
                        <input type="text" class="form-control param" name="mobile_phone" desc="移动电话" value="{$data.mobile_phone}" placeholder="移动电话"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">email</div>
                        <input type="text" class="form-control param" name="email" desc="email"  value="{$data.email}" placeholder="email"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">QQ</div>
                        <input type="text" class="form-control param" name="QQ" desc="QQ" value="{$data.QQ}" placeholder="QQ"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">微信</div>
                        <input type="text" class="form-control param" name="weixin" desc="微信" value="{$data.weixin}" placeholder="微信"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">官网</div>
                        <input type="text" class="form-control param" name="web_url" desc="web_url" value="{$data.web_url}" placeholder="官网"/>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">状态</div>
                        <div class="input-status">
                            <label class="radio-inline">
                                <input type="radio" class="status param" <?php if(empty($data) || $data['status']==1) echo "checked='checked'"?> name="status" id="status1" value="1"/>启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  class="status param" <?php if(!empty($data) && $data['status']==0) echo "checked='checked'"?> name="status" id="status0" value="0" />停用
                            </label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">备注</div>
                        <textarea class="form-control param" name="remark" desc="备注" placeholder="备注">{$data.remark|default=''}</textarea>
                    </div>
                    <input type="hidden" name="id" class="param" value="{$data.id}" id="modal-id"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btn-save" class="btn btn-primary">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<include file="Public:edit"/>