<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司管理</title>
    <include file="Public:head"/>
</head>
<body>

<div class="container-fluid">
    <form class="form-inline">
        <input name="search_code" class="form-control" value="{$search_code|default=''}" placeholder="编号"/>
        <input name="search_name" class="form-control" value="{$search_name|default=''}" placeholder="名称"/>
        <button class="btn btn-primary">搜索</button>
    </form>
</div>
<include file="Public:button"/>
<div class="container-fluid">
    <include file="Public:list_table"/>
</div>
<div id="modal-container"></div>
</body>
</html>
<include file="Public:list"/>